/* global css start  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

.primary-color{
    color: #FF5959;
}
.primary-text-color{
    color: #121212;
}
.secondery-color{
    color: #707070;
}
.third-color{
    color: #FFF4D6;
}
.primary-btn{
    background-color: #FF5959;
    border: 0;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 600;
}
.primary-btn a{
    color: #fff;
}

/* banner part css start  */
.banner{
    background-image: url('../images/donation13.jpg');

    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
}
.banner-overlay{
    padding: 160px 300px;
}
.banner-content{
    text-align: center;
    color: #fff;
}
.section-title{
    font-size: 60px;
    font-weight: 700;
}
.section-description{
    margin: 20px 0;
    font-size: 18px;
    font-weight: 400;
}
 
/* donate amount section css start  */
.donate-amount-content{
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    width: 53%;
}
.donate-amount-content .section-title{
    font-size: 40px;
}
.donate-amount-content .section-description{
    font-size: 16px;
}
.amount-box{
    padding: 35px;
    display: inline-block;
}

.amount-box p{
    font-size: 22px;
    font-weight: 700;
    color: #707070;
}
.amount-box2 p{
    color: #FF5959;
}
.amount-box2{
    border: 2px solid #FF5959;
    background-color: #ff595915;
    border-radius: 5px;
}

.donate-amount-box{
    padding: 30px 320px 0;
    display: flex;
    gap: 15px;
    justify-content: space-around;
}

.donate-collect{
    margin-top: 40px;
    text-align: center;
}
.donate-collect hr{
    width: 56%;
    display: block;
    margin: 15px auto;
    opacity: 50%;
}
.donate-collect .donate-msg{
    color: #707070ad;
}

/* donate plane css start  */
.donane-plane-header{
    margin: 60px 0 30px;
    text-align: center;
    padding: 0 300px;
}

.donane-plane-header .section-title{
    font-size: 40px;
}
.donate-plane-content{
    display: flex;
    margin-top: 70px;
    gap: 20px;
    padding: 0 150px;
}
.plane{
    background-color: #707070cb;
    padding: 50px 15px 25px;
    border-radius: 5px;
}
.plane .section-title{
    font-size: 20px;
    margin: 20px 0 15px;
}
.plane .section-description{
    font-size:  15px;
}
.plane-1{
    background: rgba(79, 157, 166, 0.1);
}
.plane-2{
    background: rgba(255, 89, 89, 0.1);
}
.plane-3{
    background: rgba(16, 240, 83, 0.363);
}

/* !-- donate gallery section css start  --> */
.donate-gallery{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
    padding: 0 150px;
    
}
.donate-gallery-content{
    padding-right: 20px;
    margin-top: 50px;
}
.donate-gallery-content .section-title{
    font-size: 36px;
}
.donate-gallery img{
    width: 47%;
    border-radius: 3px;
}
.donate-gallery-content .primary-btn{
    font-size: 15px;
    padding: 10px 22px;
}

/* newsletter section css start */
.newsletter{
    
}
.newsletter-content{
    text-align: center;
    padding: 0 360px;
    margin-top: 120px;
    margin-bottom: 50px;
}
.newsletter-content .section-title{
    font-size: 35px;
}
.newsletter-content .section-description{
    font-size: 14px;
}
.newsletter-form{
    background: rgba(16, 240, 83, 0.363);
    width: 60%;
    margin: 0 auto;
    padding: 55px 100px;
    text-align: center;
}
.newsletter-form input[type="email"]{
    padding: 7px 10px;
    background-color: #8682828e;
    border: 0;
    border-radius: 4px 0 0 4px;
    
}
.newsletter-form input[type="submit"]{
    background-color: #FF5959;
    padding: 7px 20px;
    border: 0;
    color: white;
    margin-left: -5px;
    border-radius: 0 4px 4px 0;
}

/* footer section css start  */
footer{
    margin-top: 100px;
    padding: 35px 0;
    text-align: center;
    background: #0B0D17;
    color: #fff;
}
.copyrighter{
    font-size: 25px;
    font-style: italic;
    margin-bottom: 15px;
}
.copyright-text{
    font-size: 11px;
}